@font-face {
  font-family: "The Hoca";
  src: url("./assets/TheHoca-Bold.ttf");
}

*{
  margin : 0%;
  padding: 0%;
  background-color: #1D212B;
}

.title{
  margin: 5%;
  display: flex;
  justify-content: center;
}

.title > h1{
  font-size: 58px;
  color: #ff8000;
  text-align: center;
  font-family: 'The Hoca';
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inputs > input{
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  border: transparent;
  border-bottom: 1px solid #ffffff;
}

.inputs > input.setCode {
  border: transparent;
}

.games{
  display: flex;
  margin-top: 2%;
  align-items: center;
  justify-content: space-around;
}

.games > .player1{
  display: flex;
  flex-direction: row;
}

.games > .player2{
  display: flex;
  flex-direction: row;
}

.box{
  margin: 1%;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
}

.box > input{
  width: 150px;
  height: 150px;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  border: transparent;
}